<div class="detalle-container" *ngIf="producto as p; else cargando">
  <img class="detalle-imagen" [src]="URL + p.imagen" alt="{{ p.nombre }}" />
  <div class="detalle-info">
    <h3>{{ producto.nombre }}</h3>
    <p class="precio">
      {{ p.precio | currency : "USD" }}
    </p>
    <p>
      Descripcion: {{ p.descripcion }}
    </p>
    <div *ngIf="tallaSeleccionada" class="stock-info">
      <p>
       Stock disponible:
        {{ obtenerStockDeTallaSeleccionada() }}
      </p>
    </div>
    <div>
      <div class="tallas-container">
        <button
          mat-flat-button
          *ngFor="let talla of p.tallas"
          class="talla-boton"
          [class.seleccionada]="talla.talla === tallaSeleccionada"
          (click)="seleccionarTalla(talla.talla)"
          [disabled]="!isTallaDisponible(talla.talla)"
        >
          {{ talla.talla }}
        </button>
      </div>
    </div>
    <button
      mat-flat-button
      color="primary"
      routerLink="/carrito"
      (click)="guardarEnCarrito(producto)"
      [disabled]="!tallaSeleccionada"
    >
      Añadir al carrito
    </button>
  </div>
</div>

<ng-template #cargando>
  <p>Cargando producto...</p>
</ng-template>
